<div class="p-2">
  <h4 class="font-medium mb-3 text-lg">Tipos de sinais</h4>

  @if (loading()) {
  <div class="flex justify-center p-4">
    <span class="loading loading-spinner loading-md"></span>
  </div>
  } @else if (error()) {
  <div class="p-4 text-error">
    <p>{{ error()?.message }}</p>
  </div>
  } @else {
  <div class="space-y-2">
    @for (type of getFilteredTypes(); track type) {
    <div class="collapse collapse-arrow bg-base-100">
      <input type="checkbox" />
      <div class="collapse-title font-medium">
        {{ type }}
      </div>
      <div class="collapse-content">
        @for (subtype of getFilteredSubtypes(type); track subtype) {
        <div class="collapse collapse-arrow">
          <input type="checkbox" />
          <div class="collapse-title ml-4">
            {{ subtype }}
          </div>
          <div class="collapse-content">
            <ul class="menu menu-sm w-full">
              @for (relationCount of getRelationCounts(type, subtype); track relationCount.relationName) {
              <li>
                <a [routerLink]="['/relations']"
                  [queryParams]="{type: type, subtype: subtype, relation: relationCount.relationName}">
                  <span>{{ relationCount.relationName }}</span>
                  <span class="badge badge-sm badge-soft">{{ relationCount.count }}</span>
                </a>
              </li>
              }
            </ul>
          </div>
        </div>
        }
      </div>
    </div>
    }
  </div>
  }
</div>