@if (error()) {
<p>{{ error()?.message }}</p>
} @else if (loading()) {
<span class="loading loading-spinner loading-xl"></span>
} @else {
<div class="flex flex-wrap justify-evenly gap-4">
  @for (document of documents(); track $index) {
  <div class="card w-96 bg-base-100 card-md shadow-sm">
    <div class="card-body">
      <h2 class="card-title">{{ document.name }}</h2>
      <p>{{ document.root.text | truncate : 200 }}</p>
      <div class="justify-end card-actions">
        <a class="btn btn-primary" [routerLink]="['/documents', document.id]" routerLinkActive="active">Ver
          documento</a>
      </div>
    </div>
  </div>
  }
</div>
}