<a class="btn" href="">Voltar</a>

@if (loading()) {
<span class="loading loading-spinner loading-xl"></span>
} @else if (error()) {
<p>{{ error()?.message }}</p>
} @else {
<h1 class="text-2xl font-bold">{{ document()!.name }}</h1>
<div role="tablist" class="tabs tabs-border">
  <input
    type="radio"
    name="document-tabs"
    class="tab"
    aria-label="Texto"
    checked
  />
  <div class="tab-content mr-20">
    @for (token of document()!.root!.tokensIds; track $index) {
    <span [id]="`token-${token.id}`" #token>{{ token.token }} </span>
    }
  </div>
  <input
    type="radio"
    name="document-tabs"
    class="tab"
    aria-label="Texto original"
  />
  <div class="tab-content">
    {{ document()!.formattedText ?? "Texto não encontrado" }}
  </div>
  <input type="radio" name="document-tabs" class="tab" aria-label="Relações" />
  <div class="tab-content">3</div>
</div>
}
